[submodule "CryptographyAccelerator/cryptography-accelerator"]
	path = CryptographyAccelerator/cryptography-accelerator
	url = https://github.com/asinghani/crypto-accelerator
[submodule "FMUL_64/fudian"]
	path = FMUL_64/fudian
	url = https://github.com/OpenXiangShan/fudian
[submodule "riscv-mini/riscv-mini"]
	path = riscv-mini/riscv-mini
	url = https://github.com/ucb-bar/riscv-mini
[submodule "NetShell/netShell"]
	path = NetShell/netShell
	url = https://github.com/OSCPU/NutShell
[submodule "TensorLib/tensor-lib"]
	path = TensorLib/tensor-lib
	url = https://github.com/pku-liang/TensorLib
[submodule "SIGMA/sigma"]
	path = SIGMA/sigma
	url = https://github.com/georgia-tech-synergy-lab/SIGMA
[submodule "riscv-sodor/riscv-sodor"]
	path = riscv-sodor/riscv-sodor
	url = https://github.com/ucb-bar/riscv-sodor.git
	branch = sodor-old
